<div class="container-fluid soft-purple py-5">
  <div class="container">
    <h1 class="text-light">
      <%= @user.first_name ? @user.first_name : @user.email %>
      <small class="lead">
        <%= link_to 'Edit profile', edit_user_registration_path(@user), class: "text-light" if user_signed_in? && (current_user.id == @user.id) %>
      </small>
    </h1>
    <div class="text-light">
      <%= @user.last_name if @user.last_name %>
      <div  class="mr-3 inline">
        <%= @user.first_name if @user.first_name %>
      </div>

      <div  class="mr-3 inline">
        <%= @user.email if @user.email %>
      </div>
    </div>
  </div>
</div>

<div class="container py-3">
  <div class="row">
    <div class="card max-width pb-3 px-3 d-flex">
      <div class="d-flex justify-content-end pt-3">
        <b class="mx-2">
          <%= @user.products.archived.count %> archived
        </b>
        |
        <b class="mx-2">
          <%= @user.products.unpublished.count %> unpublished
        </b>
        |
        <b class="mx-2">
          <%= @user.products.published.count %> Published
        </b>
        <%= link_to "Create product", new_product_path, class: "btn btn-success text-light mx-3" %>
      </div>
      <hr>
      <div class="d-flex flex-wrap">
        <%= render 'products/product_card', object: @user.products.all %>
      </div>
    </div>
  </div>
</div>
