<p id="notice"><%= notice %></p>

<% if @product.images.attached? %>
  <% @product.images.each_with_index do |image, index| %>
    <%= image_tag image.variant(resize_to_limit: [100, 100]) %>
    <%= link_to 'Delete', delete_image_product_path(@product, {index: index}), method: :delete if user_signed_in? && (current_user.id == @product.user.id) %>
  <% end %>
<% else %>
  <p>This product does not have image attached</p>
<% end %>

<div class="card w-75">
  <div class="card-body">
    <h5 class="card-title"><%= @product.name %></h5>
    <p class="card-text"><%= @product.description %>.</p>
    <p class="card-text">  <%= @product.user.email %>.</p>
    <p class="card-text"><%= @product.quantity %>.</p>
    <p class="card-text"><%= @product.price %>.</p>
    <% @product.categories.each do |category| %>
      <span class="badge badge-secondary"><%= link_to category.name, category_path(category) %></span>
    <% end %>
    <p class="card-text"><%= @product.status %>.</p>

    <% if user_signed_in? && current_user.id == @product.user.id %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Back', products_path %>
    <% end %>
  </div>
</div>
